/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  color: #222222;
  font-weight: 400;
  line-height: 1.35;
  background-color: #e5e5e5;
  font-family: 'Roboto Light',sans-serif;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.section{
  float: left;
  width: 100%;
}
.container{
  float:none;
  width: 1200px;
  margin: 0 auto;
}

.content{
  float: left;

}
.footer li i{
  font-size: 50px;
  color: yellow;
}
.footer li i:hover{
  color: darkmagenta;
}
.head {
  font-size: large;
  padding-left: 100px ;
}
.bodyjob{
  margin: 20px;
  border-bottom: 1px solid #948686;
}
.bodyjob .ava{
  float: left;
  width: 100px;
  height: 100px;
  zoom: 30%;

}
.bodyjob img{
  border-radius: 50px;
}
.bodyjob .nameplace{
  text-decoration: none;
  padding-left: 40px;

}
li {
  list-style-type: none;
}
